html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}


.flux-home-app {
  height: 100%;
}

.flux-profile-list-item {
  float: left;
  border: black 1px solid;
  margin: 10px;

}




$widthOfList: 300px;
$widthOfSubmit: 110px;
$heightOfInput: 20px;

.flux-message-app {
  height: 100%;
}

.flux-message-list {
  position: absolute;
  top: 0;
  left: 0;
  width: $widthOfList;
  height: 100%;
  border: black 1px solid;
  display: inline-block;
}

.flux-message-view {
  position: absolute;
  left: $widthOfList;
  width: calc(100% - #{$widthOfList + 4});
  border: black 1px solid;
  height: 100%;
  display: inline-block;

  li {
    padding: 10px;
  }

  .received {
    text-align: left;
  }

  .sent {
    text-align: right;
  }
}

.flux-message-input {
  position: absolute;

  width: 100%;
  bottom: 0;
  height: $heightOfInput;

  input[type="text"] {
    width: calc(100% - #{$widthOfSubmit + 6});
    height: 100%;
  }

  input[type="submit"] {
    width: $widthOfSubmit;
    height: 100%;
  }
}

.flux-message-list-item {
  height: 70px;
  border: black 1px solid;

  &:hover {
    background-color: #ff6b52;
  }
}
